name: Node CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12'
    - name: npm install and test
      run: |
        npm install
        npm test
        npm run coverage
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
      env:
        CI: true
